@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff !important; /* Tailwindì˜ red-400 */
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  
}
